
<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left bg-dark text-white">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase ">Find the weather</h5>
                <p>A Web App to find weather of city and add city to favourites list so you can visit once in a lifespan.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link" href="#" routerLink="/weather">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#"  routerLink="/favourites">Favourites</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center bg-light text-dark">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> WeatherApp.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                      